---
import { MATOMO_URL, MATOMO_SITE_ID } from "../consts";
---

<!-- Matomo -->
<div
  id="matomo-localhost"
  data-matomo-url={MATOMO_URL}
  data-matomo-site-id={MATOMO_SITE_ID}
>
</div>
<script>
  var _paq = (window._paq = window._paq || []);
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function () {
    var u = document.getElementById("matomo").dataset.matomoUrl;
    var siteId = document.getElementById("matomo").dataset.matomoSiteId;
    _paq.push(["setTrackerUrl", u + "matomo.php"]);
    _paq.push(["setSiteId", siteId]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.async = true;
    g.src = u + "matomo.js";
    s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->
