---
import CodecarbonLogo from "../assets/codecarbon-logo.svg";
import Button from "./Button.astro";
const DASHBOARD_API_URL = "https://dashboard.codecarbon.io/";
const sections = [
  { title: "About", href: "/#about" },
  { title: "How it works", href: "/#how-it-works" },
  { title: "Call for action", href: "/#call-for-action" },
  { title: "Team", href: "/#team" },
  { title: "Contact us", href: "/#contact-us" },
];
---

<div class="mx-auto mb-10">
  <nav class="flex flex-row items-center justify-between p-4">
    <a href="/" class="mx-4"><CodecarbonLogo /></a>
    <ul class="flex flex-row
    items-center justify-between p-4
    min-w-2xl">
      {
        sections.map((section) => (
          <li class="mx-4 hover:bg-lime-600 rounded p-2">
            <a href={section.href}>{section.title}</a>
          </li>
        ))
      }
    </ul>
    <div>
      <Button href={DASHBOARD_API_URL}>Sign in</Button>
    </div>
    <!-- Add a thick separator line -->
  </nav>
  <hr class="border-lime-300 border-2" />
</div>
