---
const { id, invert } = Astro.props;
// invert is used to select if the section is with white text or black text
---

<div
  class=`flex flex-col items-center justify-center gap-2 ${invert ? "bg-lime-300 text-black" : "text-white "}  p-20 w-screen`
  id={id}
>
  <slot />
</div>
