---
import Section from "../components/Section.astro";
import ComputerOldElectronicsIcon from "../assets/icons/computer-old-electronics.svg";
import HandsCrossedIcon from "../assets/icons/hand-cross-finger-heart.svg";
import UIDesignWebsiteIcon from "../assets/icons/ui-design-website.svg";
import ContentFilesNewspaperIcon from "../assets/icons/content-files-newspaper.svg";
import ContentFilesQuillInkIcon from "../assets/icons/content-files-quill-ink.svg";
import Button from "../components/Button.astro";
import Reviews from "../components/Reviews.astro";
const data = [
  {
    icon: ComputerOldElectronicsIcon,
    text: "A lightweight, easy to use python library",
  },
  { icon: HandsCrossedIcon, text: "Open source, free & community driven" },
  { icon: UIDesignWebsiteIcon, text: "Effective visual outputs" },
];
---

<Section id="about">
  <h1 class="text-3xl font-bold text-white">What we are</h1>
  <div class="flex flex-row pb-8">
    <ul
      class="flex flex-col lg:flex-row items-center justify-between p-4 max-w-full md:max-w-7xl gap-6"
    >
      {
        data.map((item) => (
          <li class="flex items-center">
            <item.icon />
            <span class="prose text-white w-3xs text-center">{item.text}</span>
          </li>
        ))
      }
    </ul>
  </div>
  <Reviews />
  <h1 class="text-3xl font-bold text-white p-8">Seamless integration</h1>
  <video
    poster="./assets/first-frame.jpg"
    class="pt-8 w-full max-w-3xl mx-auto border-3 border-lime-300 rounded-lg"
    controls
    src="https://player.vimeo.com/external/482564729.hd.mp4?s=70d4f409870b0af74fa5e61d0d17bfe34a4d4282&profile_id=175"
  ></video>
  <h1 class="text-3xl font-bold text-white p-8">Only a few lines of code</h1>

  <div class="md:flex md:flex-row">
    <div class="flex flex-col justify-center gap-4 pt-8 w-full md:w-1/2">
      <h2 class="text-2xl font-bold text-lime-300 uppercase text-left">
        Computer emits co2. we started measuring how much
      </h2>
      <p class="prose text-white">
        A single datacenter can consume large amounts of energy to run computing
        code. An innovative new tracking tool is designed to measure the climate
        impact of artificial intelligence. Kana Lottick, Silvia Susai, Sorelle
        Friedler, and Jonathan Wilson. Energy Usage Reports: Environmental
        awareness as part of algorithmic accountability. NeurlPS Workshop on
        Tackling Climate Change with Machine Learning, 2019.
      </p>
      <Button href="http://arxiv.org/abs/1911.08354">Go to article</Button>
    </div>
    <div class="flex flex-col justify-center w-1/2 px-8">
      <div class="flex md:justify-start w-full">
        <ContentFilesNewspaperIcon class="size-48" />
      </div>
      <div class="flex justify-end w-full">
        <ContentFilesQuillInkIcon class="size-48 md:block hidden" />
      </div>
    </div>
  </div>
</Section>
