---
import Section from "../components/Section.astro";
import DotCrossIcon from "../assets/icons/Dot-cross.svg";
const data = [
  {
    img_path: "assets/dashboard/exemplary_equivalents.png",
    description: "Put emissions in context with real-world equivalents.",
  },
  {
    img_path: "assets/dashboard/device_emissions.png",
    description:
      "Compare emissions based on infrastructure and power consumption.",
  },
  {
    img_path: "assets/dashboard/device_emissions_run.png",
    description: "See live emissions as your code runs.",
  },
];
---

<Section id="dashboard">
  <div class="flex items-center justify-center gap-4">
    <DotCrossIcon />
    <h1 class="text-3xl font-bold uppercase">Dashboard</h1>
    <DotCrossIcon />
  </div>
  <h1 class="text-3xl font-bold uppercase p-4">
    Visualizing the outputs & insights
  </h1>
  {
    data.map((item, i) => (
      <div
        class={`grid grid-cols-1 md:grid-cols-2 w-400 items-center gap-4 p-8${i < data.length - 1 ? " border-b border-gray-500" : ""}`}
      >
        <img
          src={item.img_path}
          alt=""
          class="w-100 lg:w-150 rounded-lg justify-self-center"
        />
        <p class="prose text-white text-lg">{item.description}</p>
      </div>
    ))
  }
</Section>
