---
import Section from "../components/Section.astro";
import DotCrossIcon from "../assets/icons/Dot-cross.svg";
---

<Section id="dashboard">
  <div class="flex items-center justify-center gap-4">
    <DotCrossIcon />
    <h1 class="text-3xl font-bold uppercase">Dashboard</h1>
    <DotCrossIcon />
  </div>
  <h1 class="text-3xl font-bold uppercase p-4">
    Visualizing the outputs & insights
  </h1>
  <p class="prose text-white">TODO: Add screenshot of the dashboard here</p>
</Section>
