---
import Section from "../components/Section.astro";
import RocketIcon from "../assets/icons/business-product-startup-1.svg";
// Load all the partner organization logos
import { founders as partnerLogos } from "../content/partners";
import { sponsors as sponsorLogos } from "../content/partners";
---

<Section id="sponsors">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold text-white uppercase max-w-3xl">
      CodeCarbon is supported by our sponsors
    </h1>
    <div class="flex flex-wrap justify-between mt-4 max-w-full overflow-x-auto">
      {
        sponsorLogos.map((logo) => (
          <img
            src={logo.svg_path}
            alt={logo.name}
            class="w-40 max-h-40 object-contain m-2 flex-shrink-0"
          />
        ))
      }
    </div>
    <h1 class="text-2xl font-bold text-white uppercase max-w-3xl mt-15">
      CodeCarbon was developed by four partner organizations and is made freely
      available to the community
    </h1>
    <div class="flex flex-wrap justify-center mt-4">
      {
        partnerLogos.map((logo) => (
          <img
            src={logo.svg_path}
            alt={logo.name}
            class="w-32 max-h-32 object-contain m-2"
          />
        ))
      }
    </div>
    <RocketIcon class="pt-8" />
  </div>
</Section>
