---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Codecarbon</title>
  </head>
  <body class="bg-black text-lime-300 font-plex scroll-smooth">
    <Navigation />
    <div class="flex flex-col items-center justify-center">
      <slot />
    </div>
    <Footer />
  </body>
</html>
