---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";

let {title,description,image} = Astro.props;
if (!title) {
  title = SITE_TITLE;
}
if (!description) {
  description = SITE_DESCRIPTION;
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-black text-lime-300 font-plex scroll-smooth">
    <Navigation />
    <div class="flex flex-col items-center justify-center">
      <slot />
    </div>
    <Footer />
  </body>
</html>
